form {
  font-family: var(--dm-sans-regular);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  font-family: var(--dm-sans-medium);
  margin-top: 1.2em;
  align-self: center;
  width: 40%;
}

.button:hover {
  background: var(--blue-btn);
}

label {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 8px;
}

input {
  border: 0.8px solid var(--light-grey);
  outline: 0;
}

.text-control {
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}

.formData {
  margin-bottom: 18px;
}

.error[data-error]::after,
.error-radio[data-error-visible="true"]::after,
.error-checkbox[data-error-visible="true"]::after {
  content: attr(data-error);
  font-family: var(--roboto-regular);
  font-size: 10px;
  color: var(--error-color);
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.error[data-error-visible="true"]::after,
.error-radio[data-error-visible="true"]::after,
.error-checkbox[data-error-visible="true"]::after {
  opacity: 1;
}

.error input:invalid {
  border: 2px solid var(--error-color);
}

.error input:valid {
  border: 1px solid var(--green-form);
}

.error-radio[data-error-visible="true"] .radio-icon,
.error-checkbox[data-error-visible="true"] .conditions {
  border: 2px solid var(--error-color);
}

.radio-label,
.checkbox-label {
  font-family: var(--roboto-regular);
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  margin-top: 10px;
}

.radio-icon,
.checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--light-grey);
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}

.radio-icon::after,
.checkbox-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: var(--green-form);
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.radio-input,
.checkbox-input {
  display: none;
}

.radio-input:checked + .radio-label .radio-icon::after,
.checkbox-input:checked + .checkbox-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon {
  background: var(--green-form);
}

.checkbox-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: var(--light-grey);
}

.checkbox-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: 0 0;
  border: 2px solid transparent;
  border-bottom-color: white;
  border-left-color: white;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.text-label {
  font-size: 14px;
  margin-bottom: 8px;
}
