.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.display-node {
  display: block;
}

.mask-node {
  display: none !important;
}

.content {
  margin: 8% auto;
  width: 100%;
  max-width: 500px;
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: white;
  padding-top: 10px;
}

.open-anim {
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.close-anim {
  animation-name: modalclose;
  animation-duration: var(--modal-duration);
}

.modal-body {
  padding: 15px 8%;
  margin-top: 15px;
  margin-bottom: 6px;
  min-height: 710px;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:after,
.close:before {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: white;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.send-confirmation {
  font-weight: 400;
  font-size: 2.25rem;
  color: white;
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 250px;
  padding-top: 250px;
  align-items: center;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }

  to {
    opacity: 1;
  }
}

@keyframes modalclose {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(-150px);
  }
}

@media screen and (max-width: 992px) {
  .content {
    margin-top: 100px;
  }
}
