.bground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, .4)
}

.content {
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: #232323;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding-top: 10px
}

.modal-body {
    padding: 15px 8%;
    margin-top: 15px;
    margin-bottom: 6px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7)
}

.close:after,
.close:before {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 3px;
    background-color: #fff
}

.close:before {
    transform: rotate(45deg)
}

.close:after {
    transform: rotate(-45deg)
}

.button {
    margin-top: 1.2em;
    align-self: center;
    width: 40%;
}

.button:hover {
    background: #3876ac
}

label {
    font-family: var(--font-default);
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 8px
}

input {
    border: .8px solid #ccc;
    outline: 0;
}

.text-control {
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px
}

.formData {
    margin-bottom: 18px;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 10px;
    color: #ff4e60;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    line-height: .3;
    opacity: 0;
    transition: .3s
}

.formData[data-error-visible=true]::after {
    opacity: 1
}

.formData[data-error-visible=true] .text-control {
    border: 2px solid #ff4e60;
}

.checkbox-label,
.checkbox2-label {
    font-family: var(--font-secondary);
    position: relative;
    margin-left: 36px;
    font-size: 12px;
    font-weight: 400
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    left: -30px;
    top: -1px;
    transition: .3s
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
    content: "";
    width: 13px;
    height: 13px;
    background-color: #279e7a;
    border-radius: 50%;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    opacity: 0
}

.checkbox-input {
    display: none
}

.checkbox-input:checked+.checkbox-label .checkbox-icon::after,
.checkbox-input:checked+.checkbox2-label .checkbox-icon::after {
    opacity: 1
}

.checkbox-input:checked+.checkbox2-label .checkbox-icon {
    background: #279e7a
}

.checkbox2-label .checkbox-icon {
    border-radius: 4px;
    border: 0;
    background: #c4c4c4
}

.checkbox2-label .checkbox-icon::after {
    width: 7px;
    height: 4px;
    border-radius: 2px;
    background: 0 0;
    border: 2px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
    transform: rotate(-55deg);
    left: 21%;
    top: 19%
}


.text-label {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 6px;
}


@keyframes modalopen {
    from {
        opacity: 0;
        transform: translateY(-150px)
    }

    to {
        opacity: 1
    }
}